DEVICES_STORAGE_PATH=/path/to/devices/folder
HOSTNAME=domain.io

SYNCTHING_VERSION=v1.18.1-ls58
SYNCTHING_CONFIG_PATH=/path/to/docker_data/syncthing
SYNCTHING_WEB_PORT=8384

RESILIO_SYNC_VERSION=2.7.2.1375-ls95
RESILIO_CONFIG_PATH=/path/to/docker_data/resilio_sync
RESILIO_WEB_PORT=8888