DEVICES_STORAGE_PATH=/path/to/devices/folder
MEDIA_STORAGE_PATH=/path/to/media/folder
BACKUP_STORAGE_PATH=/path/to/backup/folder

HOSTNAME=domain.io

SYNCTHING_VERSION=v1.18.1-ls58
SYNCTHING_CONFIG_PATH=/path/to/docker_data/syncthing
SYNCTHING_WEB_PORT=8384

RESILIO_SYNC_VERSION=2.7.2.1375-ls95
RESILIO_CONFIG_PATH=/path/to/docker_data/resilio_sync
RESILIO_WEB_PORT=8888

DUPLICACY_VERSION=v1.5.0
DUPLICACY_WEB_PORT=3875

DUPLICACY_CONFIG_PATH=/path/to/docker_data/duplicacy/config
DUPLICACY_LOGS_PATH=/path/to/docker_data/duplicacy/logs
DUPLICACY_CACHE_PATH=/path/to/docker_data/duplicacy/cache
DUPLICACY_RESTORE_PATH=/path/to/docker_data/duplicacy/restore

RCLONE_VERSION=1.58.1
RCLONE_WEB_PORT=5572
RCLONE_USER=someuser
RCLONE_PASSWORD=somepassword
RCLONE_CONFIG_PATH=/path/to/docker_data/rclone/config
RCLONE_LOGS_PATH=/path/to/docker_data/rclone/logs