DEVICES_STORAGE_PATH=/path/to/devices/folder
MEDIA_STORAGE_PATH=/path/to/media/folder
BACKUP_STORAGE_PATH=/path/to/backup/folder

HOSTNAME=domain.io

SYNCTHING_VERSION=v1.18.1-ls58
SYNCTHING_CONFIG_PATH=/path/to/docker_data/syncthing
SYNCTHING_WEB_PORT=8384

RESILIO_SYNC_VERSION=2.7.2.1375-ls95
RESILIO_CONFIG_PATH=/path/to/docker_data/resilio_sync
RESILIO_WEB_PORT=8888

# DUPLICACY_VERSION=v1.5.0
# DUPLICACY_WEB_PORT=3875

# DUPLICACY_CONFIG_PATH=/path/to/docker_data/duplicacy/config
# DUPLICACY_LOGS_PATH=/path/to/docker_data/duplicacy/logs
# DUPLICACY_CACHE_PATH=/path/to/docker_data/duplicacy/cache
# DUPLICACY_RESTORE_PATH=/path/to/docker_data/duplicacy/restore

CRONTAB_UI_VERSION=0.3.16
CRONTAB_UI_WEB_PORT=8000
CRONTAB_UI_DB_PATH=/path/to/docker_data/crontab_ui/db
CRONTAB_UI_CRONS_PATH=/path/to/docker_data/crontab_ui/crons
CRONTAB_UI_LOGS_PATH=/path/to/docker_data/crontab_ui/logs
CRONTAB_UI_SUPERVISOR_LOGS_PATH=/path/to/docker_data/crontab_ui/supervisor_logs
CRONTAB_UI_USER=someuser
CRONTAB_UI_PASSWORD=somepassword
CRONTAB_UI_RCLONE_CONFIG=/home/user/.config/rclone/rclone.conf

NEXTCLOUD_PG_VERSION=15.1-bullseye
NEXTCLOUD_PG_USER=nexcloud
NEXTCLOUD_PG_PASSWORD=somepassword
NEXTCLOUD_PG_DB=nexcloud
NEXTCLOUD_PG_CONFIG_PATH=/path/to/docker_data/nexcloud/db

NEXTCLOUD_REDIS_VERSION=7.0.6-bullseye
NEXTCLOUD_REDIS_CONFIG_PATH=/path/to/docker_data/nexcloud/redis

NEXTCLOUD_VERSION=25.0.2-apache
NEXTCLOUD_PG_USER=nexcloud
NEXTCLOUD_PG_PASSWORD=somepassword
NEXTCLOUD_PG_DB=nexcloud
NEXTCLOUD_ADMIN_USER=someuser
NEXTCLOUD_ADMIN_PASSWORD=somepassword
NEXTCLOUD_DOMAIN=domain.io
NEXTCLOUD_CONFIG_PATH=/path/to/docker_data/nextcloud/data
NEXTCLOUD_EXT_STORAGE_PATH_1=/path/to/external/storage
NEXTCLOUD_EXT_STORAGE_DIR_1=/path/to/container/dir